<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding height="50%" width="50%">

  <!--<ion-list>-->
    <!--<ion-item>-->
      <!--<button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">-->
        <!--{{p.title}}-->
      <!--</button>-->
    <!--</ion-item>-->
  <!--</ion-list>-->

  <!--<ion-grid >-->
    <!--<ion-row text-center align-items-center>-->
      <!--<ion-col>-->
          <!--<button color="danger" ion-button large (click)="openEvaluateQoc()">Prozess auswerten</button>-->
      <!--</ion-col>-->
    <!--</ion-row>-->
    <!--<ion-row text-center align-items-center >-->
        <!--<ion-col>-->
          <!--<button ion-button large (click)="openCreateProcess()">Prozess erstellen</button>-->
          <!--<button ion-button large (click)="openDeleteProcess()">Prozess löschen</button>-->
        <!--</ion-col>-->
    <!--</ion-row>-->
    <!--<ion-row text-center align-items-center>-->
      <!--<ion-col>-->
        <!--<button ion-button large (click)="createAccount()">Account erstellen</button>-->
        <!--<button ion-button large (click)="openAddQoc()">QOC Einfügen</button>-->
      <!--</ion-col>-->
    <!--</ion-row>-->
  <!--</ion-grid>-->


  <ion-list class="ion-list">

    <ion-list-header *ngIf="!wavesProvider.isFinal">
      Business Processe
    </ion-list-header>
    <ion-item (click)="openAddQoc()" *ngIf="!wavesProvider.isFinal">Add Option</ion-item>
    <ion-item (click)="openAddCriteria()" *ngIf="!wavesProvider.isFinal">Add Criteria</ion-item>

    <ion-list-header *ngIf="!wavesProvider.isFinal">
      Projectmanager
    </ion-list-header>
    <ion-item (click)="openEvaluateQoc()" *ngIf="!wavesProvider.isFinal">Merge Options</ion-item>
    <ion-item (click)="openMergeCriteria()" *ngIf="!wavesProvider.isFinal">Merge Criteria</ion-item>
    <ion-item (click)="openEvaluateQoc()" *ngIf="!wavesProvider.isFinal">Release for Rating</ion-item>

    <ion-list-header *ngIf="wavesProvider.isFinal">
      Rate
    </ion-list-header>
    <ion-item (click)="openEvaluateQoc()" *ngIf="wavesProvider.isFinal">Rate</ion-item>

    <button ion-button round (click)="logout()">Logout</button>
  </ion-list>


</ion-content>
