page-create-process {
    ion-row{
        margin: auto;
        width: 50%;
    }

    .ion-list{
        position: absolute;
        left: 25%;
        top: 25%;
        width: 50%;
        text-align: center;
        font-size: 18px;
    }
}


