<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Add Options</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>

  <!-- fab placed to the bottom end -->
  <ion-fab right bottom>

    <button ion-fab (click)="addOptionBtn()">
      <ion-icon name="add-circle"></ion-icon>
    </button>
  </ion-fab>

<ion-list>
  <ion-item *ngFor="let qoc of question.option; let i = index">
    ({{i}}) {{qoc.name}}
    <ion-list>
      <ion-item *ngFor="let criteria of question.criteria; let j = index">
        ({{i}} - {{j}}) {{criteria.criteria}}
      </ion-item>
    </ion-list>
    <button item-end ion-button clear (click)="addCriteriaBtn()">
      <ion-icon color="primary" name="add-circle"></ion-icon>
    </button>

  </ion-item>
</ion-list>
    <ion-grid>
        <button item-end ion-button clear (click)="addOptionBtn()">
            <ion-icon color="primary" name="add-circle"></ion-icon>Add option
        </button>
      <button item-end ion-button clear (click)="addCriteriaBtn()">
        <ion-icon color="primary" name="add-circle"></ion-icon>Add criteria
      </button>

        <button ion-button round (click)="sendQOC()">Send</button>
    </ion-grid>


<!--
    <ion-grid>
        <ion-col >
            <ion-row >
                    <h4 ion-text color="danger">{{textQOC}}</h4>
            </ion-row>
            <ion-row >
                <ion-col>
                    <ion-item>
                        <ion-label color="primary" floating>Add Option </ion-label>
                        <ion-input  align-items-center type="text" [(ngModel)]="inputOption"></ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>

            <ion-row >
                <ion-col>
                    <ion-item>
                            <ion-label color="primary" floating>Add Criteria</ion-label>
                            <ion-input  align-items-center type="text" [(ngModel)]="inputCriteria"></ion-input>
                    </ion-item>
                </ion-col>
                <ion-col>
                    <ion-item>
                            <ion-label color="primary" floating>Add Criteria weight</ion-label>
                            <ion-input  align-items-center type="number" [(ngModel)]="inputCriteriaWeight"></ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row >
                <button ion-button (click)="addQOC()">Add QOC to list</button>
                <button ion-button (click)="sendQOC()">Send</button>
            </ion-row>
        </ion-col>
    </ion-grid> -->
</ion-content>
